<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<article class="form large-8 columns">

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true%>

  <%= f.label :password %>
  <%= f.password_field :password%>

  <%=f.submit "Sign up"%>

  <%= render "devise/shared/links" %>
</article>
<% end %>


