<%= content_for(:pagetitle, "Languages") %>

<% @languages.each do |language| %>
  <%= link_to '/' + language.name do %>
    <h2><%= language.name %></h2>
    <p><%= link_to 'Edit', edit_language_path(language) %> </p>
  <% end %>
<% end %>

<% if can? :create, @language %>
  <%= link_to 'New Language', new_language_path %>
<% end %>
