<%= content_for(:pagetitle, "#{@language.name}") %>

<%= link_to "Top #{language.name} #{@category.name}", %>

<% @resources.each do |resource| %>
  <%= link_to resource_path(resource) do %>
    <span class="badge admin-category-badge"><%= resource.category.name %></span>
    <h3 class="list-group-item-heading"><%= resource.name %></h3>
  <% end %>
<% end %>

<% if can? :update, @language %>
  <%= link_to 'Edit', edit_language_path(@language) %> |
<% end %>

<%= link_to 'Back', languages_path %>

<% if can? :destroy, @language %>
  <%= link_to 'Delete', @language,  method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
