<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>
<% if can? :update, @language %>
  <%= link_to 'Edit', edit_language_path(@language) %> |
<% end %>
<%= link_to 'Back', languages_path %> |
<% if can? :destroy, @language %>
  <%= link_to 'Delete', languages_path(@language),  method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
