<h1><%= @language.name %></h1>
<br>
<em><%= @language.description %></em>
<hr>
<ul>
  <% @ways.each do |way| %>
  <li><h2><%= link_to way.name, way %></h2></li>
  <li>Language ID: <%= way.language_id %></li>
  <li>Cateory:<%= way.category %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
<%= link_to 'Delete', language_path(@language), method: :delete, data: { confirm: 'Are you sure?'} %>
