<%= content_for(:pagetitle, "#{@language.name}") %>

<%= link_to "Top #{language.name} #{@category.name}", %>

<article class="resource-post excerpt">
	<% @resources.each do |resource| %>
	 <%= link_to resource_path(resource) do %>
	    <span class="resource-type"><%= resource.category.name %></span>
	    <h3><%= resource.name %></h3>
	  <% end %>
	<% end %>
</article>

<% if can? :update, @language %>
  <%= link_to 'Edit', edit_language_path(@language) %> |
<% end %>

<%= link_to 'Back', languages_path %>

<% if can? :destroy, @language %>
  <%= link_to 'Delete', @language,  method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
