<h1>Listing ways</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ways.each do |way| %>
      <tr>
        <td><%= way.name %></td>
        <td><%= link_to 'Show', way %></td>
        <td><%= link_to 'Edit', edit_way_path(way) %></td>
        <td><%= link_to 'Destroy', way, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Way', new_way_path %>
