<%= content_for(:pagetitle, "#{@resource.name}") %>
<p><%= @resource.body %></p>
<h2>Language: <%= @resource.language_id %></h2>
<h2>Category: <%= @resource.category_id %></h2>
<h2>Category: <%= @resource.language.name %></h2>
<h2>Category: <%= @resource.category.name %></h2>
<% if can? :update, @resource %>
<%= link_to 'Edit', edit_resource_path(@resource) %> |
<% end %>
<%= link_to 'Back', resources_path %>
<% if can? :destroy, @resource %>
<%= link_to 'Destroy', @resource, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
