<div class="post-topper"></div>
<article class="resource-post">
	<%= content_for(:pagetitle) %>

	<h2><%= @resource.name %></h2>
	<%= @resource.body.html_safe %>

	<% @resource.comments.each do |comment| %>
	<p><%= comment.content %></p>
	<% end %>

	<%= form_for(@resource.comments.build) do |f| %>
	    <%= f.text_area :content %>
	    <%= f.hidden_field :resource_id %>

	    <%= f.submit %>
	<% end %>

	<br>

	<% if can? :update, @resource %>
	  <%= link_to 'Edit', edit_resource_path(@resource) %> |
	<% end %>

	<%= link_to 'Back', resources_path %>

	<% if can? :destroy, @resource %>
	  <%= link_to 'Destroy', @resource, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</article>
