<%= content_for(:pagetitle, "Categories") %>

<% @categories.each do |category| %>
  <%= link_to '/' + category.name do %>
    <h2><%= category.name %></h2>
    <p><%= link_to 'Edit', edit_category_path(category) %> </p>
  <% end %>
<% end %>

<% if can? :create, @language %>
  <%= link_to 'New Category', new_category_path, class: "btn btn-large" %>
<% end %>

