<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<% if can? :update, @category %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Back', categories_path %> |
<% if can? :update, @language %>
  <%= link_to 'Delete', categories_path(@category),  method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
