<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p> -->

<div id="services" class="section">
  <div class="fixed-wrapper"><h1><%= @category.name %></h1></div>
  <div class="container">
    <div class="content">
      <div class="row">
        <!-- resource loop begin -->
        <div class="list-group">
          <% @resources.each do |resource| %>
          <div class="post">
            <%= link_to resource_path(resource), :class => "list-group-item" do %>
            <span class="badge admin-category-badge"><%= resource.language.name %></span>
            <h3 class="list-group-item-heading"><%= resource.name %></h3>
            <% end %>
          </div>
          <% end %>
        </div>
        <!-- resource loop end -->
      </div>
      </div><!-- /.content -->
    </div>
  </div>



<% if can? :update, @category %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Back', categories_path %> |
<% if can? :update, @language %>
  <%= link_to 'Delete', categories_path(@category),  method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
