<header class="large-12 columns">
  <!--this is the logo-->
  <h1><%= link_to "Code Union", root_path %></h1>

  <!--this is the + resource button-->
  <nav>
    <% if user_signed_in? %>
      <%= link_to "Account Settings", edit_user_registration_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <%= link_to '+ Resource', new_resource_path, :class => 'add-resource button' %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to '+ Resource', new_user_session_path, :class => 'add-resource button' %>
    <% end %>
  </nav>
</header>

