<header class="large-12 columns">
  <!--this is the logo-->
  <h1><%= link_to "Code Union", root_path %></h1>

  <!--this is the + resource button-->
  <nav>
    <% if user_signed_in? %>
      <li><%= link_to "Account Settings", edit_user_registration_path %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to '+ Resource', new_resource_path %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to '+ Resource', new_resource_path %></li>
    <% end %>
  </nav>
</header>

