<section class="search">
	<%= form_tag resources_path, :method => :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "S", :name => nil %>
	<% end %>
</section>

<ul id="accordion">
	<h2 id="languages">Languages</h2>
	<ul class="languages">
	  <% @allLanguages.each do |language| %>
	    <%= link_to '/' + language.name do %>
	      <li class="navItem"><%= language.name %></li>
	    <% end %>
	  <% end %>
	</ul>

	<h2 id="categories">Categories</h2>
	<ul class="categories">
	  <% @allCategories.each do |category| %>
	    <%= link_to '/' + category.name do %>
	      <li class="navItem"><%= category.name %></li>
	    <% end %>
	  <% end %>
	</ul>
</ul>
