<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title).empty? ? 'CodeUnion' : yield(:title) %></title>

  <meta name="description" content="<%= yield(:description) %>">
  <meta property="og:title" content="<%= yield(:title) %>" />
  <meta property="og:description" content="<%= yield(:description) %>" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <%= render 'layouts/header' %>

<!--FOUNDATION OFF-CANVAS -->
<div class="off-canvas-wrap" data-offcanvas>
  <a class="left-off-canvas-toggle" href="#" >Menu</a>
  <div class="inner-wrap">


  <aside class="left-off-canvas-menu">
<!-- 		<nav> -->
	    <%= render 'layouts/sliderNav' %>
<!-- 	  <nav> -->
	</aside>

  <main class="large-push-2 large-8 medium-push-1 medium-10 columns">
      <h2><%= yield(:pagetitle) %></h2>
      <%= yield %>
  </main>


    <!--what does this do?-->
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
  </main>

  </div>
</div>
</body>

</html>
